<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Dalkom Logout
    </title>
  </head>
  <body>
    <%-JSON.stringify(session)%>
    <form action="/logout" method="post">
 
      <button type="submit">Logout</button>
    </form>
  </body>
</html>