<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Logout</title>
</head>
<body>
	<%-JSON.stringify(session)%>
	<form action="/logout" method="post">
		<button type="submit">Logout</button>
	</form>
</body>
</html>